


.main-container{
    display: flex;
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.function-container{
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.context-container{
    display: flex;          
    flex-direction: row;    
    align-items: center;
    text-align: center;
    
}

.grades-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15,15fr);
    gap: 10px; 
    padding: 12px;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;    
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.task {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status {
    font-weight: bold;
}

.tasks-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15,15fr);
    gap: 10px; 
    padding: 12px;
}