@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');

body {
    background-color: blueviolet;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    flex-direction: column;
    width: 100%;
    height: 750px;
    margin-top: -30px;
}

.title {
    color: white;
    font-family: "Pacifico", serif;
    width: 100%;
    font-size: 100px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.subtitle{
    color: white;
    font-size: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); /* Sombreado más notorio */
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    
}

.no-data-container{
    display: block;
}

.blocks-container{
    width: 60%;
}

.activities-container{
    width: 60%;
}

