.modern-table {
    align-items: center;
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  
.modern-table thead {
  background-color: #6a0dad;
  color: white;
}

.modern-table th, 
.modern-table td {
  padding: 12px 15px; 
  text-align: left; 
}

.modern-table tbody tr {
  background-color: #f9f9f9; 
  transition: background-color 0.3s ease;
}

.modern-table tbody tr:nth-child(even) {
  background-color: #f1f1f1; 
}

.modern-table tbody tr:hover {
  background-color: #ddd; 
}

.modern-table th {
  font-weight: bold;
}

.modern-table td {
  border-top: 1px solid #ddd;
}
  
.activities-table {
    width: 525px;
}

.grades-table {
    margin-top: 50px;
}

