.container{
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center; 
    border: 0;
}

.blockCreator{
    border: 1px solid #ccc;
    background-color: blueviolet;
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    transition: transform 0.2s;
    padding: 10px;
    text-align: center;
}

.block-text{
    margin-top: 5%;
    text-align: start;
    width: 100%;
}

.blockOutput{
    border: 1px solid #ccc;
    background-color: white;
    color: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5);
    width: 375px;
    transition: transform 0.2s;
    padding: 20px;
}

.blockOutput h2{
    margin: 0;
}

.blockOutput .blockText{
    align-items: start;
    justify-content: start;
    margin: 0;
    margin-left: 14px;
}

input {
    min-width: 273px;
    color: white;
    background-color: transparent !important;
    border-color: transparent;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.blockContainer{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 10%;
    
}

.blocksContainer{
    display: grid;
    width: 100%;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 16px;
}
.labelText{
    
}

.labelOutput{
    width: 100%;
    text-align: start;
    margin-right: 0;
    margin-left: 0;
    color: black;
}
.blockButton{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 15px;
}

.blockButton:active{
    background-color: rgb(117, 24, 110);
    transform: scale(0.98);
    color: white;
}

.creator-container{
    min-width: 20%;
    padding: 16px;
}

.card {
    padding: 16px;
}

.name {
    color: black;
    font-size: 20px;
}

.text{
    color: black;
}

.id {
    color: black;
    font-weight: normal;
}
td{
    color: black;
}


@media (max-width:1400px){
    .blocksContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1000px){
    .blocksContainer{
        grid-template-columns: repeat(1, 1fr);
    }

}